/* Create three equal columns that floats next to each other */

* {
    box-sizing: border-box;
  }
.column {
    float: left;
    width: 33.33%;
    padding: 45px;
    background-color: rgb(248, 248, 155);
    font-size: xx-large;
    box-shadow: 7px 9px 10px 8px#999
    -

  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  a {
    display: block;
    background: orange;
    padding: 2px;
    text-align: center;
    font-size: xx-large;
  }
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }